@using ZZZ.ApiModels
@using ZZZDmgCalculator.Extensions
@inherits MainComponent


<RadzenStack Orientation="Orientation.Horizontal" class="rz-mb-2" Gap="5px">
	<div class="engine-avatar" @onclick="OpenEngineDialog">
		<img src="@Engine.Info.Url" alt="@Engine.Info.Id"/>
	</div>
	<RadzenStack Orientation="Orientation.Vertical" class="mw-0 rz-w-100" Gap="10px">
		<div class="rz-overflow-hidden">
			<h2 class="rz-m-0 truncate">@Engine.Info.DisplayName</h2>
		</div>

		<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center">
			<RefinementSelector Value="Engine.Refinement" ValueChanged="RefinementChanged" />
			<div>
				<RadzenLabel>
					@Lang["Level"]:
				</RadzenLabel>
				<RadzenDropDown TValue="AscensionState" ValueChanged="AscensionChanged" 
				                Value="@Engine.Ascension"
				                Data="@(Enum.GetValues<AscensionState>().Cast<Enum>())" 
				                Chips="true" class="z-select"/>
				
			</div>
		</RadzenStack>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center">
			<RadzenStack Orientation="Orientation.Horizontal" class="feature-icon-container" Gap="7px">
				<img alt="" src="@Info.ItemRankIcon(@Engine.Info.Rank)"/>
				@{
					var info = Info[Engine.Info.Type];
				}
				<img alt="@info.DisplayName" title="@info.DisplayName" src="@info.Url"/>

			</RadzenStack>
			<RadzenButton ButtonStyle="ButtonStyle.Danger" class="rz-mr-2" 
			              Click="RemoveEngine" Icon="delete" Size="ButtonSize.Small"
			              title="@Lang["Tooltip.RemoveEngine"]" Variant="Variant.Text" />
		</RadzenStack>
		
	</RadzenStack>
</RadzenStack>

<RadzenCard Variant="Variant.Flat" class="rz-background-color-base-900 rz-pt-2">
	<RadzenStack Orientation="Orientation.Vertical" class="rz-pt-2" Gap="10px">
		<RadzenText>
			@Lang["MainStat"]:
		</RadzenText>
		<div class="rz-background-color-base-700 rz-p-1 rz-display-flex rz-border-radius rz-justify-content-space-between rz-align-items-center">
			<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" class="rz-w-100 rz-px-4">
				<RadzenText>
					@Info[Engine.MainStat.Stat].DisplayName
				</RadzenText>
				<RadzenText class="rz-color-bonus">
					@Engine.MainStat.Format()
				</RadzenText>
			</RadzenStack>
		</div>
		<RadzenText>
			@Lang["SubStat"]:
		</RadzenText>
		<div class="rz-background-color-base-700 rz-p-1 rz-display-flex rz-border-radius rz-justify-content-space-between rz-align-items-center">
			<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" class="rz-w-100 rz-px-4">
				<RadzenText>
					@Info[Engine.SubStat.Stat].DisplayName
				</RadzenText>
				<RadzenText class="rz-color-bonus">
					@Engine.SubStat.Format()
				</RadzenText>
			</RadzenStack>
		</div>
	</RadzenStack>
</RadzenCard>