@inherits MainComponent

@if (Skill.HasDmg)
{
	var dmg = Skill.Dmg;
	var crit = dmg * Skill.Crit;
	var mean = GetMean(dmg, crit);
	<tr class="rz-data-row rz-unselectable-text">
		<td>
			<span class="rz-cell-data">@Skill.Info.DisplayName @Lang["DMG"]</span>
		</td>
		<td class="rz-text-align-center">
			<span class="rz-cell-data">@FormatValue(dmg)</span>
		</td>
		<td class="rz-text-align-center">
			<span class="rz-cell-data">@FormatValue(crit)</span>
		</td>
		<td class="rz-text-align-center">
			<span class="rz-cell-data">@FormatValue(mean)</span>
		</td>
	</tr>
}

@if (Skill.HasDaze)
{
	var daze = Skill.Daze;
	<tr class="rz-data-row rz-unselectable-text">
		<td>
			<span class="rz-cell-data">@Skill.Info.DisplayName @Lang["Stats.Daze"]</span>
		</td>
		<td class="rz-text-align-center" colspan="3">
			<span class="rz-cell-data">@FormatValue(daze)</span>
		</td>
	</tr>
}
