@inherits MainComponent

@if (Skill.Dmg != null)
{
	var dmg = GetDmg();
	var crit = dmg * GetCritDmg();
	var mean = GetMean(dmg, crit);
	<tr class="rz-data-row rz-unselectable-text">
		<td>
			<span class="rz-cell-data">@Skill.DisplayName @Lang["DMG"]</span>
		</td>
		<td class="rz-text-align-center">
			<span class="rz-cell-data">@FormatValue(dmg)</span>
		</td>
		<td class="rz-text-align-center">
			<span class="rz-cell-data">@FormatValue(crit)</span>
		</td>
		<td class="rz-text-align-center">
			<span class="rz-cell-data">@FormatValue(mean)</span>
		</td>
	</tr>
}

@if (Skill.Daze != null)
{
	var daze = GetDaze();
	<tr class="rz-data-row rz-unselectable-text">
		<td>
			<span class="rz-cell-data">@Skill.DisplayName @Lang["Stats.Daze"]</span>
		</td>
		<td class="rz-text-align-center" colspan="3">
			<span class="rz-cell-data">@FormatValue(daze)</span>
		</td>
	</tr>
}
